LibraryCalculatingAreaShapes/.idea
LibraryCalculatingAreaShapes/LibraryCalculatingAreaShapes/bin
LibraryCalculatingAreaShapes/LibraryCalculatingAreaShapes/obj
LibraryCalculatingAreaShapes/Test/bin
LibraryCalculatingAreaShapes/Test/obj
